language: objective-c
osx_image: xcode8.1
env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - PROJECT=SwinjectAutoregistration.xcodeproj
git:
  submodules: false
matrix:
  include:
    - env: JOB="LINUX_SPM"
      os: linux
      language: generic
      sudo: required
      dist: trusty
      before_install:
        - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
      script:
        - mv .Package.test.swift Package.swift
        - swift build
        - swift test
    - env: JOB="POD_LINT"
      script:
        - pod repo update
        - pod lib lint
    - env: JOB="XCODE" DEST="OS=8.4,name=iPhone 5s" SCHEME="SwinjectAutoregistration-iOS" SDK="iphonesimulator" ACTION="test"
    - env: JOB="XCODE" DEST="OS=9.3,name=iPhone 6" SCHEME="SwinjectAutoregistration-iOS" SDK="iphonesimulator" ACTION="test"
    - env: JOB="XCODE" DEST="OS=10.1,name=iPhone 7 Plus" SCHEME="SwinjectAutoregistration-iOS" SDK="iphonesimulator" ACTION="test"
    - env: JOB="XCODE" DEST="arch=x86_64" SCHEME="SwinjectAutoregistration-OSX" SDK="macosx" ACTION="test"
    - env: JOB="XCODE" DEST="OS=9.2,name=Apple TV 1080p" SCHEME="SwinjectAutoregistration-tvOS" SDK="appletvsimulator" ACTION="test"
    - env: JOB="XCODE" DEST="OS=10.0,name=Apple TV 1080p" SCHEME="SwinjectAutoregistration-tvOS" SDK="appletvsimulator" ACTION="test"
    - env: JOB="XCODE" DEST="OS=2.2,name=Apple Watch - 42mm" SCHEME="SwinjectAutoregistration-watchOS" SDK="watchsimulator" ACTION="build"
    - env: JOB="XCODE" DEST="OS=3.1,name=Apple Watch - 42mm" SCHEME="SwinjectAutoregistration-watchOS" SDK="watchsimulator" ACTION="build"
script:
  - set -o pipefail
  - open -b com.apple.iphonesimulator # Workaround https://github.com/travis-ci/travis-ci/issues/3040
  - xcodebuild "$ACTION" -project "$PROJECT" -scheme "$SCHEME" -sdk "$SDK" -destination "$DEST" -configuration Release ENABLE_TESTABILITY=YES | xcpretty
notifications:
  email:
    on_success: never
