language: objective-c
env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - PROJECT=SwinjectAutoregistration.xcodeproj
git:
  submodules: false
matrix:
  include:
    - env: JOB="LINUX_SPM" SWIFT_VERSION="5.0"
      os: linux
      language: generic
      sudo: required
      dist: trusty
      before_install:
        - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
      script:
        - mv .Package.test.swift Package.swift
        - swift build
        - swift test
    - env: JOB="POD_LINT"
      osx_image: xcode10.2
      before_install:
      - gem uninstall --all
      - gem install cocoapods
      - pod setup
      script:
        - pod lib lint
    - env: JOB="XCODE" DEST="OS=10.0,name=iPhone 6" SCHEME="SwinjectAutoregistration-iOS" SDK="iphonesimulator" ACTION="test" PLATFORM="iOS"
      osx_image: xcode10.2
    - env: JOB="XCODE" DEST="arch=x86_64" SCHEME="SwinjectAutoregistration-OSX" SDK="macosx" ACTION="test" PLATFORM="OSX"
      osx_image: xcode10.2
    - env: JOB="XCODE" DEST="OS=10.0,name=Apple TV 1080p" SCHEME="SwinjectAutoregistration-tvOS" SDK="appletvsimulator" ACTION="test" PLATFORM="tvOS"
      osx_image: xcode10.2
    - env: JOB="XCODE" DEST="OS=4.2,name=Apple Watch - 42mm" SCHEME="SwinjectAutoregistration-watchOS" SDK="watchsimulator" ACTION="build" PLATFORM="watchOS"
      osx_image: xcode10.2

before_install:
  - curl -L -O https://github.com/Carthage/Carthage/releases/download/0.33.0/Carthage.pkg
  - sudo installer -pkg Carthage.pkg -target /
  - rm Carthage.pkg
  - travis_wait carthage bootstrap --verbose --platform $PLATFORM
script:
  - set -o pipefail
  - xcodebuild "$ACTION" -project "$PROJECT" -scheme "$SCHEME" -sdk "$SDK" -destination "$DEST" -configuration Release ENABLE_TESTABILITY=YES | xcpretty
notifications:
  email:
    on_success: never
